<section class="wrapper">
  <div class="header-wrapper">
      <span></span>
      <div class="header">
         <img src="/assets/image/logo-black.svg" alt="logo"> &nbsp;Internet Banking
      <div class="header-subtitle">App...v1</div>
      </div>
  </div>
  <div class="main-body">
    <div class="content">
        <h3>Notes Available are :&nbsp; <strong> &#8377; {{userDetails.currBalance}}</strong></h3><br>
        <h3>Withdraw Amount :&nbsp; <strong> &#8377; 500</strong></h3>
        <div class="line mt-4"></div>
        <h3 class="mt-2">Current Balance :&nbsp; <strong> &#8377; 4000</strong></h3>
    </div>
  </div>
  <div class="footer">
    <span>Regulatory Disclosures Hyperlink Policy Privacy Statement Site Terms Sitemap</span>
  </div>
</section>
